body {
  font-family: Arial;
  padding: 20px;
}

#board {
  display: flex;
  gap: 20px;
}

.column {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

.task {
  background: #f4f4f4;
  padding: 5px;
  margin-top: 5px;
}

h1  {
  font-size: 28px;
  margin-bottom: 4px;
  text-align: center;
}

